<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371530900387-p7i2l51if9nv2h828j24834bjnd5v2ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371530900387-p7i2l51if9nv2h828j24834bjnd5v2ju</string>
	<key>API_KEY</key>
	<string>AIzaSyDg950EtzNFdUUbZJxMjVANosZN3EfsNgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>371530900387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playsy</string>
	<key>PROJECT_ID</key>
	<string>smb-app-4999d</string>
	<key>STORAGE_BUCKET</key>
	<string>smb-app-4999d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371530900387:ios:9a8346ce16773d3494f016</string>
	<key>DATABASE_URL</key>
	<string>https://smb-app-4999d-default-rtdb.firebaseio.com</string>
</dict>
</plist>